<div class="calendar-wraper">
  <div class="calendar-header">
    <h3 class="cal-main_title"> Appointments System </h3>
    <div class="cal-week_sort"> <i class="fa fa-chevron-left" (click)="changeWeek(1)"></i> <i class="fa fa-chevron-right"
        (click)="changeWeek(2)"></i>
      <h3 class="cal-month_title"> {{week | date: 'MMM yyyy'}} </h3>
    </div>
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default"> Today </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="calnedar_offices-list">
        <div class="form-inline">
          <label class="control-label"> List Offices: </label>
          <select class="form-control" [(ngModel)]="officeLocation" (change)="onOfficeLocationChanged()">
            <option>Select</option>
            <option *ngFor="let location of officeLocations" value="{{location.officeLocationId}}"> {{location.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="calendar-body">
    <div class="calendar-wraper">
      <!-- Header -->
      <div class="calendar-row row-header">

        <div *ngFor="let day of daysOfWeek" class="calendar-col">
          <span> {{day.name}} </span>
          <h4> {{day.date | date:'dd'}} </h4>
        </div>
      </div>

      <!-- Body -->
      <div *ngFor="let timeSlot of timeSlots" class="calendar-row row-body">
        <div *ngFor="let roaster of timeSlot.roasters" class="calendar-col" [ngClass]="{available: roaster.available, taken: !roaster.available}"
          [attr.data-toggle]="roaster.available ? 'modal':null" [attr.data-target]="roaster.available ? '#myModal' : null">
          <span> {{timeSlot.timeSlot}} </span>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <schedule-form></schedule-form>
</div>