/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import "../Content/jquery.mCustomScrollbar.min.css";
@import "../node_modules/@ng-select/ng-select/themes/material.theme.css";
@import "../node_modules/ngx-toasta/styles/style-bootstrap.css";


body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background: #F8FAFB;
    overflow: hidden;
}

/*Scrollbar Styles*/
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
    background-color: #4D7CFE;
}

.mCSB_inside>.mCSB_container {
    margin-right: 10px;
}